/*fonts*/
@font-face {
    font-family: Langdon;
    src: url('font/OpenSans-CondBold.ttf');
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
}

@font-face {
    font-family: Nautik;
    font-weight: bold;
    src: url('font/Nautik-Regular.otf');
}

@font-face {
    font-family: OpenSans;
    font-weight: bold;
    src: url('font/OpenSans-CondLight.ttf');
}

@font-face {
    font-family: OpenSansBold;
    font-weight: bold;
    src: url('font/OpenSans-CondBold.ttf');
}

@font-face {
    font-family: NautikBold;
    font-weight: bold;
    src: url('../font/Nautik-Bold.otf');
}

@font-face {
    font-family: NautikBlack;
    font-weight: bold;
    src: url('font/Nautik-Black.otf');
}

@font-face {
    font-family: Nautiklight;
    font-weight: bold;
    src: url('font/Nautik-Light.otf');
}

@font-face {
    font-family: NautikExtralight;
    font-weight: bold;
    src: url('font/Nautik-Extralight.otf');
}

/*background*/
.bgblue {
    background-color: #BCD6E2;
}

.bggrey {
    background-color: #E3E7EA;
}

.bglightgrey {
    background-color: #F2F2F2;
}

.bgdarkblue {
    background-color: #1B2934;
}

.bglightblue {
    background-color: #5099AD;
}

.bgskyblue {
    background-color: #549ED1;
}

.darkstrip {
    background-color: #DBDBDB;
}

.bg {
    background-color: #F2F2F2;
    font-family: OpenSans;
    font-size: 20px;
    margin: 30px 0px 0px 0px;
}

.divgrey {
    background-color: #D2D8DB;
}

/*float related css*/
.fl {
    float: left;
}

.fr {
    float: right;
}

/*text*/
.text-left {
    font-family: OpenSans;
    font-weight: bold;
}

.text-right {

    font-family: OpenSans;
    font-weight: bold;
}

.clear {
    clear: both;
}

.tar {
    text-align: right;
}

.tar img {
    margin-left: 5px;
}

.tac {
    text-align: center;
}

.tal {
    text-align: left !important;
}

.taj {
    text-align: justify;
}

/*padding*/
.pl20 {
    padding-left: 20px;
}

.pt20 {
    padding-top: 20px;
}

.p10 {
    padding: 5px 15px !important;
}

.p20 {
    padding: 0px 20px;
}

.p12 {
    padding: 7px;
}

.pb10 {
    padding-bottom: 10px;
}

.ptb5 {
    padding: 5px 0px;
}

.ptb10 {
    padding: 10px 0px;
}

.pl10 {
    padding-left: 10px;
}

.pl15 {
    padding-left: 15px;
}

.pl24 {
    padding-left: 24px;
}

.pleft22 {
    padding-left: 18px;
}

.p25 {
    padding: 10px;
}

.p5 {
    padding: 0px 5px;
}

.p50 {
    padding: 50px;
}

.pr20 {
    padding-right: 20px;
}

.pr10 {
    padding-right: 10px;
}

.p18 {
    padding: 18px;
}

.ptb20 {
    padding: 20px 0px;
}

.p15 {
    padding: 15px !important;
}

/*margin css*/
.mt30 {
    margin-top: 30px;
}

.m10 {
    margin: 10px;
}

.m0auto {
    margin: 0 auto;
}

.mt90 {
    margin-top: 90px;
}

.mb10 {
    margin-bottom: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mr25 {
    margin-right: 25px;
}

.mt110 {
    margin-top: 110px;
}

.mlr20 {
    margin: 0 20px;
}

.ml20 {
    margin-left: 20px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt180 {
    margin-top: 180px;
}

.ml5 {
    margin-left: 5px;
}

.ml25 {
    margin-left: 25px;
}

.ml80 {
    margin-left: 80px;
}

.ml10 {
    margin-left: 10px;
}

.ml12 {
    margin-left: 12px;
}

.ml100 {
    margin-left: 100px;
}

.mt100 {
    margin-top: 100px;
}

.mr100 {
    margin-right: 100px;
}

.mt-80 {
    margin-top: -80px;
}

.mt-95 {
    margin-top: -95px;
}

.mt-40 {
    margin-top: -40px;
}

.mt-30 {
    margin-top: -30px;
}

.mt-25 {
    margin-top: -25px;
}

.mt-20 {
    margin-top: -20px;
}

.ml-10 {
    margin-left: -10px;
}

.ml-8 {
    margin-left: -8px;
}

.ml-5 {
    margin-left: -5px;
}

.mtb30 {
    margin: 30px 0px;
}

.mtb60 {
    margin: 52px 0px;
}

.mtb10 {
    margin: 10px 0;
}

.mtb12 {
    margin: 12px 0;
}

.mtn20 {
    margin-top: -50px;
}

.mt80 {
    margin-top: 80px;
}

.mt35 {
    margin-top: 35px;
}

.m15 {
    margin: 15px;
}

.mr10 {
    margin-right: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 35px;
}

.mb-10 {
    margin-bottom: -7px !important;
}

.mr0 {
    margin-right: 0px;
}

.mtb40 {
    margin: 40px auto;
}

.mt0 {
    margin-top: 0px !important;
}

.mr90 {
    margin-right: 90px;
}

.ml0 {
    margin-left: 0px !important;
}

.mb0 {
    margin-bottom: 0px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb40 {
    margin-bottom: 40px;
}

.ml-30 {
    margin-left: -30px;
}

.mt-10 {
    margin-top: -10px;
}

.mt-5 {
    margin-top: -5px;
}

.mr35 {
    margin-right: 35px;
}

.mr70 {
    margin-right: 70px;
}

.mr155 {
    margin-right: 155px;
}

.mr-20 {
    margin-right: -20px;
}

.ml35 {
    margin-left: 35px;
}

.mt50 {
    margin-top: 50px;
}

.mt5 {
    margin-top: 5px;
}

.mt7 {
    margin-top: 7px;
}

.p30 {
    padding: 30px;
}

.upload-button {
    background-color: #549ED1;
    padding: 5px 30px;
    box-shadow: inset 0px 1px 0px #9e8d84, 0px 3px 0px 0px #322620, 0px 5px 5px #999;
    color: #fff;
}

.ptb20 {
    padding: 20px 0;
}

.pb50 {
    padding-bottom: 50px;
}

.required:after {
    content: " *";
    color: #C1272D;
    font-size: 18px;
}

.ml50 {
    margin-left: 50px !important;
}

.ml57 {
    margin-left: 57px;
}

.ml60 {
    margin-left: 60px;
}

.ml70 {
    margin-left: 70px;
}

.ml30 {
    margin-left: 30px;
}

.m025 {
    margin: 20px 40px;
}

.mr5 {
    margin-right: 5px;
}

/*font*/
.ff {
    font-family: Langdon;
    font-size: 16px;
    letter-spacing: 1px;
}

.font {
    font-family: Langdon;
    font-size: 12px;
    letter-spacing: 1px;
}

.fcolor {
    color: white;
}

.fcolorblack {
    color: black;
}

.fcolorblue {
    color: #549ED1;
}

.formbtn {
    background-color: #549ED1;
    font-family: openSansBold;
    padding: 10px;
    letter-spacing: 1px;
    color: #ffffff;
    font-size: 16px;
    border-bottom: 2px solid #000;
}

.osansb {
    font-family: OpenSansBold !important;
}

.allbtns {
    background-color: #549ED1;
    font-family: Langdon;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    position: relative;
    padding: 10px;

    margin-top: 15px;
    text-align: center;
    border-width: 0px;
    box-shadow: inset 0px 1px 0px #9e8d84, 0px 3px 0px 0px #322620, 0px 5px 5px #999;
}

.allbtns:active {
    top: 3px;

    box-shadow: inset 0px 1px 0px #9e8d84, 0px 2px 0px 0px #322620, 0px 5px 3px #999;
}

.allbtns:active::before {
    top: 50%;
    margin-top: -12px;
    box-shadow: inset 0px 1px 0px #827066, 0px 3px 0px #19120f, 0px 6px 3px #382e29;
}

.f10 {
    font-size: 10px;
}

.bold {
    font-weight: bold;
}

.f12 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f23 {
    font-size: 23px;
    color: white;
}

.f40 {
    font-size: 40px;
	line-height:40px;
}

.fnt10 {
    font-family: OpenSans;
    font-size: 12px;
}

.fntb10 {
    font-family: OpenSansBold;
    font-size: 12px;
}

.font19 {
    font-size: 20px;
    color: white;
    font-family: Langdon;
    letter-spacing: 1px;
}

.f20 {
    font-size: 20px;
}

.f22 {
    font-size: 22px;
}

.langdon {
    font-family: Langdon;
    letter-spacing: 1px;
}

.osans {
    font-family: OpenSans;
}

/*div width*/
.divwidth {
    width: 80% !important;
    margin: 30px auto !important;
}

.divsmallwidth {
    width: 60%;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #1B2934;
}

.footer a:hover {
    text-decoration: underline;
    color: white;
}

.dropdownwidth a:hover {
    text-decoration: underline;
    color: #549ED1;
}

div a {
    text-decoration: none;
    color: white;
}

.table a {
    color: #549ED1;
}

.menu a:hover {
    text-decoration: none;
}

.p40 {
    padding: 40px;
}

.mt70 {
    margin-top: 70px;
}

.mt40 {
    margin-top: 40px;
}

.mt45 {
    margin-top: 45px;
}

.p60 {
    padding: 60px;
}

.mr40 {
    margin-right: 40px;
}

.mr30 {
    margin-right: 30px;
}

.mr50 {
    margin-right: 50px;
}

.dheight {
    height: 600px;
}

/* Required */

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.inputtxt {
    background-color: #BCD6E2 !important;
    width: 67%;
}

.cp {
    cursor: pointer;
}

.bgblue.ofh {
    overflow: hidden;
}

.red {
    color: #C1272D;
}

.borderbottom {
    border-bottom: 3px solid white;
}

.divw10 {
    width: 10% !important;
}

.divw35 {
    width: 35% !important;
}

.divw30 {
    width: 30% !important;
}

.divw60 {
    width: 60% !important;
}

.txttitle {
    width: 95% !important;
}

.divw40 {
    width: 40%;
    display: inline;
}

.errborder {
    border: 2px solid #C1272D !important;
}

.vat {
    vertical-align: top !important;
}

.bgtriangle {
    background: url("../img/bctriangle.png") no-repeat;
    height: 43px;
    width: 45px;
    z-index: 100;
    position: relative;
}

.simplebtn {
    background-color: #549ED1;
    color: white;
    padding: 10px 30px;
}

.inputbg {
    background-color: #BCD6E2 !important;
}

.br0 {
    border-radius: 0px !important;
}

.ipshadow {
    -webkit-box-shadow: inset 8px 8px 0px -6px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: inset 8px 8px 0px -6px rgba(0, 0, 0, 0.75) !important;
    box-shadow: inset 8px 8px 0px -6px rgba(0, 0, 0, 0.75) !important;
}

.img-rounded {
    border-radius: 80px !important;
    border: 8px solid black;
}

.f25 {
    font-size: 22px;
    font-family: Langdon;
    letter-spacing: 1px;
}

.ls {
    letter-spacing: 1px;
}

.f12 {
    font-size: 12px;
    font-family: Open Sans;
}

.f14 {
    font-size: 14px;
}

.imgroundborder {
    border: 8px solid black;
}

.colorboxhtwd {
    height: 30px;
    width: 30px;
}

.grab {
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: move;
}

.grabbing {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: move;
}

.lstype {
    list-style-type: none;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #EEEEEE;
    text-decoration: none;
    color: #555555;
}

.divw75 {
    width: 75%;
}

.divw55 {
    width: 55%;
}

.divw38 {
    width: 38%;
}

.divw90 {
    width: 90%;
}

.sortbg {
    background: url('../img/sortline.png') no-repeat;
    height: 10px;
    width: 30px;
    margin-top: 10px;
    z-index: 10;
    position: absolute;
}

.bg1 {
    left: 25px;
}

.bg2 {
    left: 75px;
}

.bg3 {
    left: 122px;
}

.position {
    position: relative;
}

.radioimages > input[type=radio] {
    display: none;
}

input[type=radio] + img {
    cursor: pointer;
    border: 2px solid transparent;
}

input[type=radio]:checked + img {
    border: 1px solid black;
    border-radius: 2.5em;
    position: relative;
    z-index: 1;
}

.nautikblack {
    font-family: NautikBlack;
}

.nautikbold {
    font-family: NautikBold;
}

#nav li {
    list-style-type: none;
}

#nav li a {
    position: absolute;
}

.linkbluecolor {
    color: #1E0FBE;
}

.samehw {
    height: 145px;
    width: 145px;
}

.samehw120 {
    height: 120px;
    width: 145px;
}

.sponsorimg {
    height: 117px;
    width: 150px;
}

.sponsorimgbig {
    height: 150px;
    width: 240px;
}

.winnerScrImg {
    height: 93px;
    width: 173px;
}

.overflowScr {
    overflow: scroll;
}

.w25px {
    width: 25px;
}

.allentriesimg {
    height: 148px;
    width: 229px;
}

.winnerBox {
    box-shadow: 10px 10px 5px #549ED1
}

.grey {
    color: #333;
}

.pb20 {
    padding-bottom: 20px;
}

.m5 {
    margin: 5px;
}

.ptb2p {
    padding: 2% 0px;
}

/*breadcrumbs css starts*/
#breadcrumbs-one {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 30px 0 0 30px;
}

#breadcrumbs-one li {
    float: left;
}

#breadcrumbs-one a {
    padding: 5px 0px 5px 22px;
    float: left;
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    background-color: #1B2934;
}

#breadcrumbs-one li:first-child a {
    padding-left: 10px;
    border-radius: 5px 0 0 5px;
}

#breadcrumbs-one a:hover {
    background: #549ED1;
}

#breadcrumbs-one a::after,
#breadcrumbs-one a::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid;
    right: -1em;
}

#breadcrumbs-one a::after {
    z-index: 2;
    border-left-color: #1B2934;
}

#breadcrumbs-one a::before {
    border-left-color: #FFFFFF;
    right: -1.1em;
    z-index: 1;
}

#breadcrumbs-one a:hover::after {
    border-left-color: #549ED1;
}

#breadcrumbs-one .current,
#breadcrumbs-one .current:hover {
    font-weight: bold;
    background: #549ED1;
    border-radius: 0 5px 5px 0;
    padding-right: 10px;
}

#breadcrumbs-one .current::after,
#breadcrumbs-one .current::before {
    content: normal;
}
input[type="checkbox"]{
background-color: #BCD6E2;
height: 15px;
width: 15px;
border-radius: 5px;
position: relative;
top: -3px;
}
/*breadcrumbs css ends*/

.dtextcont{
	background: url(../img/sprites.png) no-repeat;
	background-position: -6px -150px ;
	width: 39px;
	height: 42px;
}
.dphotocont{
	background: url(../img/sprites.png) no-repeat;
	background-position: -56px -150px ;
	width: 45px;
	height: 34px;
}
.daudiocont{
	background: url(../img/sprites.png) no-repeat;
	background-position: -110px -150px ;
	width: 39px;
	height: 42px;
}
.dvideocont{
	background: url(../img/sprites.png) no-repeat;
	background-position: -160px -150px ;
	width: 38px;
	height: 41px;
}
.del_ico{
	background: url(../img/sprites.png) no-repeat;
	background-position: -105px -120px ;
	width: 21px;
	height: 19px;
	display:block;
}
.edit_ico{
	background: url(../img/sprites.png) no-repeat;
	background-position: -15px -115px ;
	width: 14px;
	height: 13px;
	display:block;
}