/*header*/
body{
font-family:openSansBold;
}
.container-fluid {
    padding: 0;

}

.head_fixed {
    border-top-style: solid;
    border-top-color: #1B2934;
    border-top-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #D9D9D9;
    border-bottom-width: 1px;
    background-color: #EBEEF0;
    position: fixed;
    z-index: 1001;
    box-shadow: 0 1px 2px #595959;
}

.logo {text-align: center;}

.head {
    border-top-style: solid;
    border-top-color: #0E0F0F;
    border-top-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #0E0F0F;
    border-bottom-width: 1px;
    background-color: #EBEEF0;
}

.menu {
    margin-top: 15px;
    list-style-type: none;
    font-family: Langdon;
    font-size: 1.2em;
    letter-spacing: 1px;
}

.menu-item {
    display: inline-block;
    padding: 9px;
    color: #1B2934;
    text-transform: capitalize;
}

.menu-item:hover {
    background-color: #549ED1 !important;
    color: #FFFFFF;
    border-radius: 5px;
}

.homecover {
    width: 90%;
    margin: 10px auto;
}

.bggrey {
    background-color: #E3E7EA;
}

.key {
    width: 20px;
    height: 18px;
    display: inline-block;
    margin-right: 17px;
}

.btn:hover {
    background-color: #549ED1 !important;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    color: #FFFFFF;
}

/*main body*/
.hrscrollbar {
    overflow-x: hidden;
}

.obody {
    padding-left: 0px;
    padding-right: 0px;
}

.entryformbtn {
    width: 150px;
    cursor: pointer;
}

/*contest*/
.contesthd {
    margin: 0px auto;
    text-align: center;
    width: 90%;
}

.promotext {
    padding: 20px 0;
    margin-top: -25px;
    font-family: OpenSansBold;
    background-color: #549ED1;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 25px;
    width: 94%;
}

.bannerRight {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: -1018px -156px;
    width: 33px;
    height: 36px;
    margin-top: -1px;
}

.bannerleft {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: -970px -156px;
    width: 33px;
    height: 36px;
    margin-right: -2px;
}

.cleftshadow {
    position: relative;
    left: 104px;
}

.crightshadow {
    position: relative;
    left: 87.3%;
}

.title {
    background-color: #1B2934;
    color: #FFFFFF;
    font-family: openSansBold;
    text-align: right;
    font-size: 24px;
    padding: 10px;
    width: 300px;
}

.pgtitle {
    background-color: #1B2934;
    color: #FFFFFF;
    font-family: Langdon;
    text-align: center;
    letter-spacing: 1px;
    font-size: 25px;
    padding: 10px;
    width: 300px;
    margin-top: 30px;
}

/*contest*/
.cflag {
    background: url(../img/sprite.png) no-repeat -150px -32px;
    width: 51px;
    height: 63px;
    position: relative;
    top: 55px;
    left: 50px;
}

.contesthm {
    text-align: center;
    margin: 80px 0;
}

.mtb50 {
    margin: 100px 0;
}

.ctitleinfo {
    font-family: Langdon;
    font-size: 25px;
    color: #1B2934;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 10px;
    width: 100px;
    line-height: 25px;
    margin: 20px auto 10px;
}

.cinfo {
    font-family: OpenSansBold;
    font-size: 14px;
    width: 200px;
    margin: 10px auto;
}

/*features*/
.ftrumpet {
    position: relative;
    background: url(../img/sprite.png) no-repeat -357px -22px;
    width: 86px;
    height: 83px;
    left: 50px;
    top: 55px;
}

.featurewrap {
    width: 90%;
    margin: 10px auto;
}

.fbox {
    margin-top: 40px;
    margin-left: 10%;
    width: 21%;
    background-color: #BCD6E2;
    text-align: center;
}

.priceinfo {
    color: white;
    font-size: 17px;
}

.ft_title {
    font-family: Langdon;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    letter-spacing: 1px;
    background-color: #1B2934;
    color: #FFFFFF;
}

.featcompwrap {
    margin: 10px 0 80px 0;
}

.cam {
    background: url(../img/sprite.png) 1055px 371px;
    height: 71px;
    width: 71px;
}

.video {
    background: url(../img/sprite.png) 977px 371px;
    height: 71px;
    width: 71px;
}

.audio {
    background: url(../img/sprite.png) 900px 371px;
    height: 71px;
    width: 71px;
}

.text {
    background: url(../img/sprite.png) 824px 371px;
    height: 71px;
    width: 71px;
}

.wfb {
    background: url(../img/sprite.png) 745px 371px;
    height: 71px;
    width: 71px;
}

.wandroid {
    background: url(../img/sprite.png) 677px 371px;
    height: 71px;
    width: 71px;
}

.web {
    background: url(../img/sprite.png) 606px 371px;
    height: 71px;
    width: 71px;
}

.tool {
    background: url(../img/sprite.png) 535px 371px;
    height: 71px;
    width: 71px;
}

.seting {
    background: url(../img/sprite.png) 458px 371px;
    height: 71px;
    width: 71px;
}

.graph {
    background: url(../img/sprite.png) 382px 371px;
    height: 71px;
    width: 71px;
}

.pie {
    background: url(../img/sprite.png) 308px 371px;
    height: 71px;
    width: 71px;
}

.dollar {
    background: url(../img/sprite.png) 416px 472px;
    height: 71px;
    width: 71px;
}

.like {
    background: url(../img/sprite.png) 347px 472px;
    height: 71px;
    width: 71px;
}

.call {
    background: url(../img/sprite.png) 264px 472px;
    height: 71px;
    width: 71px;
}

.msg {
    background: url(../img/sprite.png) 186px 472px;
    height: 71px;
    width: 71px;
}

.fimg {
    margin-top: 30px;
}

/*pricing*/
#pricing{
padding:20px 0;
}
.money {
    background: url(../img/sprite.png) no-repeat -29px -26px;
    width: 87px;
    height: 75px;
    position: relative;
    top: 55px;
    left: 50px;
}

.pricewrap {
    width: 90%;
    margin: 50px auto 0;
}

.pwrap {

    float: left;
    width: 33%;

}

.pbody {
    padding: 0 20px;
    background-color: #549ED1;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    z-index: 1;
    margin: 0 10px 0 10px;
}

.pricebottom {
    background: url(../img/pricebottom.png) no-repeat;
    width: 320px;
    height: 91px;
}

.ptitle {
    position: relative;
    margin-top: -18px;
    width: 55%;
    margin-left: 14%;
    font-family: Langdon;
    font-size: 25px;
    padding: 15px;
    text-align: center;
    letter-spacing: 1px;
    background-color: #1B2934;
    color: #FFFFFF;
}

.pbtn {
    border-radius: 0.5em;
    background-color: #1B2934;
    color: #FFFFFF;
    padding: 10px;
    width: 150px;
    cursor: pointer;
    z-index: 500;
}

.ltr {
    position: relative;
    left: 14%;
    top: -19px;
}

.rtr {
    position: relative;
    top: -19px;
}

.blue {
    height: 89px;
    left: -3%;
    overflow: hidden;
    position: relative;
    top: -1%;
    width: 116%;
    z-index: 100;
    margin: 0 0px 0 10px;
}

.big {
    background-color: #549ED1;
    border-radius: 55%;
    height: 608px;
    left: -20%;
    position: absolute;
    top: -603%;
    width: 127%;
}

.pricedec ul li {
    border-bottom: 1px solid #D3DEE4;
    padding: 12px;
    margin: 0 25px;
}

.prizeshadow {
    background-image: url('../img/shadow_prize.png');
    height: 29px;
    width: 302px;
}

/*gallery*/
#gallery{
padding:20px 0;
}
.gslide {

    position: relative;
    top: 55px;
    left: 37px;
}
.morecontest{
display:block;
margin:0 auto;
width:200px;
}
a.morecontest:hover{
color:#FFFFFF;
}
/*footer*/
.footer {
    background-color: #1B2934;
    color: #ffffff;
	padding-top:30px;
}

.fhr {
    margin-left: 13%;
    margin-bottom: 6px;
    width: 63%;
}

.fcall {
	font-family: OpenSansBold;
    color: #F2F2F2;
    line-height: 18px;
    font-size: 20px;
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
	padding:10px 0;
	margin:0 20px;
	text-transform:capitalize;
}

.finfo {
    font-family: OpenSans;
    margin: 20px;
    font-size: 14px;
}

.ftitle {
    font-family: OpenSansBold;
    margin-top: 40px;
    font-size: 18px;
    color: #549ED1;
}

.follow {
    margin-top: 10px;
    font-size: 18px;
}

.fldiv {
    margin-left: 50px;
}

.fldiv li {
    margin-top: 20px;
    line-height: 17px;
}

.flink {
    margin: 5px 0;
	font-family: OpenSans;
	font-size:14px;
	
}

.fimgr {
    vertical-align: 15px;
    margin-right: 10px;
}

.fimgl {
    vertical-align: -15px;
    margin-left: 235px;
}

.user {
    font-family: Arial;
    float: right;
    text-align: right;
}

.cright {
    background-color: #549ED1;
    font-family: OpenSans;
    margin-top: 20px;
}

/*contact*/
.cphone {
    background: url(../img/sprite.png) no-repeat -378px -232px;
    width: 30px;
    height: 31px;
    float: right;
    margin-left: 20px;
}

.contactwrap {
    width: 90%;
    margin: 30px auto;
}

.contacthead {
    font-family: OpenSans;
    font-size: 21px;
    padding: 20px;
    text-align: center;
    letter-spacing: 2px;
    background-color: #549ED1;
    color: #FFFFFF;
    line-height: 1.5;
    font-style: regular;
}

.cbtn {
    width: 25% !important;
}

.formfields {
    margin-left: 20px;
}

.formdiv {
    background-color: #F2F2F2;
	font-family:openSansBold;
	font-size:14px;
}

.w50 {
    width: 50% !important;
}

.form {
    margin-left: 50px;
    margin-top: 20px;
}

.getintouch {
    margin-top: 30px;
}

#git {
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

#whatsapp {
    background: url(../img/sprite.png) no-repeat -431px -227px;
    width: 176px;
    height: 198px;
    margin: 20px auto 0;
}

#call {
    font-family: Langdon;
    font-size: 21px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

#call a {
    color: #333;
}

#call a:hover {
    color: #333;
    text-decoration: underline;
}

#infomail {
    font-family: OpenSansBold;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}

#infomail a {
    color: #333;
}

#infomail a:hover {
    color: #333;
    text-decoration: underline;
}

#social {
    margin: 20px auto;
    width: 292px;
}

.fbicn {
    background: url(../img/sprites.png) no-repeat;
    background-position: -105px -50px ;
	width: 63px;
	height: 63px;
    float: left;
    margin: 0 5px;
}

.twticn {
    background: url(../img/sprites.png) no-repeat;
    background-position: -235px -50px;
	width: 63px;
	height: 63px;
    float: left;
    margin: 0 5px;
}

.gicn {
    background: url(../img/sprites.png) no-repeat;
	background-position: -170px -50px;
    width: 63px;
    height: 63px;
    float: left;
    margin: 0 5px;
}

.yticn {
    background: url(../img/sprites.png) no-repeat;
	background-position: -300px -50px ;
    width: 63px;
    height: 63px;
    float: left;
    margin: 0 5px;
}

.registericon {
    background: url(../img/registration.png) no-repeat;
    width: 37px;
    height: 31px;
    float: right;
    margin-left: 20px;
}

.signinicon {
    background: url(../img/LoginIcon.png) no-repeat;
    width: 22px;
    height: 28px;
    float: right;
    margin-left: 20px;
}

.forgotpwdcon {
    background: url(../img/changepassword.png) no-repeat;
    width: 22px;
    height: 28px;
    float: right;
    margin-left: 20px;
}


#binfo {
    margin: 10px 0px 10px 15%;
}

.btitle {
    position: relative;
    top: 20px;
    left: -19px;
}

.eachblog {
    background-color: #F2F2F2;
    margin-bottom: 20px;
}

.btnpost {
    margin-top: 15px;
    margin-left: 60px;
}

.btnrply {
    background-color: #549ED1;
    font-family: Langdon;
    margin-top: 15px;
    padding: 5px 15px;
    letter-spacing: 1px;
    color: #ffffff;
    border-bottom: 2px solid #000;
}

.posted {
    margin: 10px 10px 0 10px;
    font-family: OpenSansBold;
}

.sepline {
    margin: 0 20px;
}

.blogcont {
    font-family: OpenSansBold;
    font-size: 16px;
    font-weight: bold;
    margin: 0 50px;
    padding-bottom: 10px;
    line-height: 2;
    letter-spacing: 1px;
}

.commentcont {
    font-weight: bold;
}

.pagination ul {
    list-style-type: none;
    color: #F2F2F2;
}

.pagination ul li {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 1px;
    background-color: #1B2934;
}

.commentblog {
    margin: 10px 10px 0 10px;
    font-family: OpenSansBold;
}

.socblog {
    margin: 10px 0 0 10px;
}

.bloghd {
    background-color: #F2F2F2;
    margin: 30px 0px 20px 0px;
}

.bloghd .vertical-line {
    float: right;
}

.postlbl {
    color: #808080;
}

.bloghead {
    font-family: NautikBlack;
    font-size: 36px;
    text-align: left;
    padding: 20px;
    line-height: 1;
    letter-spacing: 2px;
    margin: 0px 50px;
}

#line {
    width: 90%;
    margin: 0px auto;
    height: 5px;
    background-color: #000;
}

.ospan {
    margin: 0px !important;
    padding-top: 5px;
}

.bbtn {
    margin: 0px 0px 20px 0px;
    width: 100px;;
}

.bin {
    font-size: 14px;
}

/*form css*/
.changehead {
    font-family: OpenSans;
    font-size: 21px;
    padding: 40px;
    text-align: center;
    letter-spacing: 1px;
    background-color: #549ED1;
    color: #FFFFFF;
    margin-top: 30px;
}

.nospac {
    letter-spacing: 0px !important;
}

.frmcontainer {
    width: 50%;
    margin: 30px auto;
}

.regform {
    width: 70%;
    margin: 20px auto;
}

.capcha {
    margin-left: 30px;
}

.vcodelbl {
    padding-top: 20px;
}

/* form input text field */

select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-radius: 0px;
    background: #D3DEE4;
    width: 100%;
    height: 36px;
    font-size: 24px;
    font-family: OpenSans;
}

textarea {
    border-radius: 0px;
    background: #D3DEE4;
    width: 100%;
    font-size: 24px;
    font-family: OpenSans;
}

.shadow {
    -moz-box-shadow: inset 3px 3px 4px #000 !important;
    -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, .4) !important;
    box-shadow: inset 0 3px 2px 1px rgba(0, 0, 0, .24) !important;
}

/*CHANGE AND FORGOT PASSWORD*/

.changeformdiv {
    background-color: #F2F2F2;
    padding: 20px 0;
}

#forgottxt {
    font-family: OpenSans;
    font-size: 13px;
    text-align: center;
    position: relative;
    padding-right: 40px;
}

.forgetfrm {
    width: 60%;
    margin: 30px auto;
}

.fgbtn {
    margin-left: 50px;
    border-radius: 0px;
}

/*login*/
.passbox {
    float: left;
    width: 70%;
}

.forgettext {
    float: right;
    text-align: center;
    text-decoration: underline;
}

.forgettext a {
    color: #333333;
}

.logbtn {
    margin: 20px auto;
    width: 100px !important;
}

.w220 {
    width: 205px;
}

.lblcancel {
    margin-right: -12px;
}

.fblogina {
    background-color: #2C79C1;
    width: 200px;
    margin: 20px 0 0 30px;
    cursor: pointer;
}

.g {
    background-color: #E94C3D;
    width: 200px;
    margin: 20px 0 0 30px;
    cursor: pointer;
}

.twitter-login {
    background-color: rgb(85, 172, 238);
    width: 200px;
    margin: 20px 0 0 30px;
    cursor: pointer;
}

.linkedin-login {
    background-color: rgb(0, 115, 178);
    width: 200px;
    margin: 20px 0 0 30px;
    cursor: pointer;
}

.sign-in-btn {
    cursor: pointer;
    width: 200px;
    margin: 20px 0 0 30px;
}

#linfo {
    font-family: OpenSans;
    font-size: 21px;
    margin: 60px 0px 20px 40px;
}

/*REGISTER*/
.regtxt {
    font-family: OpenSans;
    font-size: 12px;
    text-align: center;

    padding-right: 10px;
}

.input-small {
    border-radius: 0px !important;
    background: #D3DEE4 !important;
    margin-top: 20px;
    margin-left: 90px;
}

.input-large {
    border-radius: 0px !important;
    background: #D3DEE4 !important;
}

.loginlink {
    text-align: center;
}

/*competition*/
.compinfo {
    font-family: OpenSansBold;
    background-color: #F2F2F2;
    text-align: center;
    margin-top: -20px;
}

.compbtn {
    width: 150px;
}

.compbanner {
    background: url(../img/compbanner.png) no-repeat;
    width: 691px;
    height: 400px;
    float: right;
    margin-right: 30px;
    z-index: 10;
}

.compbannerdiv {
    background: url(../img/compheadbg.png);
    margin: 30px 0;
}

.complistwrap {
    margin: 20px;
    padding: 30px 0;
}

.logowrap {
    float: left;
    margin: 0 20px;
}

.complistlbl {
    font-family: openSansBold;
    font-size: 16px;
}

.clientlogo {
    background: url(../img/compmedal.png) no-repeat;
    width: 208px;
    height: 285px;
    margin-top: -20px;
    z-index: 10;
}

.co_logo {
    position: relative;
    height: 48%;
    width: 66%;
    left: 16%;
    top: 47%;
}

.co_logobanner {
    height: 246px;
    left: 15%;
    position: relative;
    top: 23%;
    width: 501px;
}

.logotxt {
    font-family: openSansBold;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    margin-top: 20px;
	text-transform:capitalize;
}

.logotag {
    font-family: OpenSans;
    text-align: center;
    font-size: 22px;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    background-color: #F2F2F2;
}

.listpad {
    padding: 50px auto;
}

#sep {
    margin-top: 50px;
}

.w100 {
    width: 127% !important;
}

/*banner*/
.bannerpromo {
    text-align: right;
    background-color: grey;
    border: 3px solid #000;
    height: 355px;
    float: right;
    width: 55%;
    margin: 30px 40px 0px 40px;

    background-image: -ms-radial-gradient(center top, circle closest-corner, #FFFFFF 0%, #000203 100%);

    /* Mozilla Firefox */
    background-image: -moz-radial-gradient(center top, circle closest-corner, #FFFFFF 0%, #000203 100%);

    /* Opera */
    background-image: -o-radial-gradient(center top, circle closest-corner, #FFFFFF 0%, #000203 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(radial, center top, 0, center top, 487, color-stop(0, #FFFFFF), color-stop(1, #000203));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-radial-gradient(center top, circle closest-corner, #FFFFFF 0%, #000203 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: radial-gradient(circle closest-corner at center top, #FFFFFF 0%, #000203 100%);
}

.txtwd {
    width: 250px;
}

.studio {
    background-image: url('../img/studio.jpg');
}

.banner {
    background-color: #FFFFFF;
    height: 420px;
    margin-top: 80px;

}

.f50 {
    font-size: 50px;
}

.create {
    font-family: OpenSansBold;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 60px 10px 60px;
}

.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

.videohome {
    height: 270px;
    width: 400px;
}

.testimonials {
    height: 20px !important;
    width: 20px !important;
}

.test_img {
    height: 33px !important;
    width: 33px !important;
}

.italic {
    font-style: italic;
}

.input-append, .input-prepend {
    width: 90%;
}

.bcfirst {
    background-color: #1B2934;
    color: #FFFFFF;
    margin-top: 20px;
    font-family: Langdon;
    text-align: center;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 11.5px;
    width: 200px;
    margin-left: -2px;
    z-index: 10;
}

.bc {
    background-color: #1B2934;
    color: #FFFFFF;
    margin-top: 20px;
    font-family: Langdon;
    text-align: center;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 11.5px;
    width: 200px;
    margin-left: -40px;
    z-index: 10;
}

.borderright {
    border-right: 1px solid black;
    padding-right: 21px;
}

.border-right {
    border-right: 2px solid #1B2934;
    height: 170px;
    width: 26px;
}

.orcircle {
    background: #BCD6E2;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border: 1px solid #1B2934;
    border-radius: 40px;
    text-align: center;
    width: 50px;
    padding: 15px 0;
    font-weight: bold;
}

.img-circle {
    width: 45px;
    height: 45px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.img-circle:hover {
    width: 60px;
    height: 60px;
    border: 10px solid #1B2934;
    border-radius: 50%;
    -webkit-filter: grayscale(0%);
}

#speakers {
    width: 160px;
    height: 160px;
    padding: 0;
}

.faqsearch {
    background-color: #FFF !important;
    width: 30% !important;
    height: 20px !important;
}

.faq {
    background: #FFFFFF url('../img/searchfaq.png') no-repeat 4px 4px !important;
    height: 18px;
    background-position: right;
}

.bbottom {
    border-bottom: 1px solid black;
    padding: 10px;
}

.blackcircle {
    width: 10px;
    height: 10px;
    background: #1B2934;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.queryicon {
    background: url(../img/queryicon.png) no-repeat;
    height: 13px;
}

.qicon {
    background: url(../img/npad.png) no-repeat;
    height: 13px;
}

.dottedline {
    border-bottom: 1px dotted black;
    padding-bottom: 10px;
}

.bluearrow {
    background: url(../img/bluearrow.png) no-repeat;
    height: 13px;
    display: inline-block;
}

.ipboxfaq {
    width: 30% !important;
    background: white !important;
}

.bx-wrapper .bx-prev {
    left: -40px !important;
    background: url(../img/sliderprev.png) no-repeat;
}

.bx-wrapper .bx-next {
    right: -40px !important;
    background: url(../img/slidernext.png) no-repeat;
}

.bx-wrapper .bx-controls-direction a {

    height: 50px !important;
}

.sizeofpic {
    height: 173px;
    width: 250px;
}

.signbtn {
    width: 80px;
    font-size: 1.2em;
    text-transform: capitalize;
    padding: 9px;
}

.contestThumb {
    height: 227px;
    width: 175px;
}

.plan-head {
    font-size: 50px;
    padding: 25px 0 !important;
}

.vertline {
    border-right: 1px solid #1B2934;
    height: 180px;
    width: 25px;
}

.footer-followuson a:hover {
    text-decoration: none;
}

/*breadcrumbs css starts*/
#breadcrumbs-one {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 30px 0 0 30px;
}

#breadcrumbs-one li {
    float: left;
}

#breadcrumbs-one a {
    padding: 5px 0px 5px 22px;
    float: left;
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    background-color: #1B2934;
}

#breadcrumbs-one li:first-child a {
    padding-left: 10px;
    border-radius: 5px 0 0 5px;
}

#breadcrumbs-one a:hover {
    background: #549ED1;
}

#breadcrumbs-one a::after,
#breadcrumbs-one a::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid;
    right: -1em;
}

#breadcrumbs-one a::after {
    z-index: 2;
    border-left-color: #1B2934;
}

#breadcrumbs-one a::before {
    border-left-color: #FFFFFF;
    right: -1.1em;
    z-index: 1;
}

#breadcrumbs-one a:hover::after {
    border-left-color: #549ED1;
}

#breadcrumbs-one .current,
#breadcrumbs-one .current:hover {
    background: #549ED1;
    border-radius: 0 5px 5px 0;
    padding-right: 10px;
}

#breadcrumbs-one .current::after,
#breadcrumbs-one .current::before {
    content: normal;
}

/*breadcrumbs css ends*/

blockquote {
  font-family:OpenSans;
  font-style:italic;
  font-size:14px;
  background: url(../img/ql.png) no-repeat right bottom;
  padding-left: 18px;
  text-indent: -18px;
  border:none;
}

blockquote:first-letter {
  background: url(../img/qr.png) no-repeat left top;
  padding-left: 18px;
  font: italic 1.4em Georgia, "Times New Roman", Times, serif;
}
.acfootertxt{
font-size:12px;
padding-bottom:20px;
text-align:center;
}

.bxslider{
margin:0;
}
.creators{
float:left;
margin-right:20px;
padding:10px;
background-color:#F2F2F2;
}

.blogsitetitle {
    background-color: #1B2934;
    color: #FFFFFF;
    font-family: openSansBold;
    text-align: center;
    font-size: 24px;
    padding: 15px;
    width: 160px;
	margin-top:-30px;
}

/*blog*/ #category
{ margin:0; } 
#category  li
{ background-color:#E6E6E6; margin:15px 0px 15px; padding:10px 0px 10px 20px; font-family:OpenSansBold; font-size:20px;
}
#category  li a{
color:#1B2934;
}
#category  li a:hover{
color:#549ED1;
}

#archives{margin:0;}
#archives  li
{
background-color:#E6E6E6;
margin:15px 0px 15px;
padding:10px 0px 10px 20px;
font-family:OpenSansBold;
font-size:20px;
}
#archives  li a{
color:#1B2934;
}
#archives  li a:hover{
color:#549ED1;
}

.blgreadmore{
padding: 5px;
font-size: 14px;
width:100px;
}
.eachblog hr{
margin: 0;
border: 1px solid #1B2934
}

/*faq */
.faqitem{
background-color:#FFFFFF;
padding:10px;
margin:10px 0;
}
.faqitem h4{
border-bottom:1px solid #1B2934;
padding-bottom:5px;
}
/*faq */

/*help*/
.help-sidenav{
background-color:#FFFFFF;
margin-top:10px;
padding:0;
}
.help-sidenav.affix{
top:10px;
width:23%;
}
.help-sidenav a{
color:#549ED1;
}
.help-sidenav li a{
display: block;
width: 190px \9;
margin: 0 0 -1px;
padding: 8px 14px;
border: 1px solid #e5e5e5;
}
/*help*/

/*social icons*/
.foot-social-grp{
width:191px;
margin:0 auto;
}
.fb-footer{
	background: url(../img/sprites.png) no-repeat;
	background-position: -350px -2px ;
	width: 50px;
	height: 46px;
	display:block;
	float:left;
}
.tw-footer{
	background: url(../img/sprites.png) no-repeat;
	background-position: -450px -2px ;
	width: 47px;
	height: 46px;
	display:block;
	float:left;
}
.gmail-footer{
	background: url(../img/sprites.png) no-repeat;
	background-position: -400px -2px ;
	width: 47px;
	height: 46px;
	display:block;
	float:left;
}
.yt-footer{
	background: url(../img/sprites.png) no-repeat;
	background-position: -500px -2px ;
	width: 47px;
	height: 46px;
	display:block;
	float:left;
}
.mailicn{
	background: url(../img/sprites.png) no-repeat;
	background-position: -305px -120px ;
	width: 27px;
	height: 17px;
	margin-right:5px;
	display:inline-block;
}
.facebook_connect{
	background: url(../img/sprites.png) no-repeat;
	background-position: -6px -6px ;
	width: 23px;
	height: 23px;
	float:left;
	display:block;
	margin:0 5px;
}
.google_connect{
	background: url(../img/sprites.png) no-repeat;
	background-position: -34px -6px ;
	width: 23px;
	height: 23px;
	float:left;
	display:block;
	margin:0 5px;
}
.twitter_connect{
	background: url(../img/sprites.png) no-repeat;
	background-position: -62px -6px ;
	width: 23px;
	height: 23px;
	float:left;
	display:block;
	margin:0 5px;
}
.linkedin_connect{
	background: url(../img/sprites.png) no-repeat;
	background-position: -118px -6px ;
	width: 23px;
	height: 23px;
	float:left;
	display:block;
	margin:0 5px;
}
.galicon{
position: relative;
background: url(../img/sprite.png) no-repeat -245px -22px;
width: 84px;
height: 79px;
left: 50px;
top: 55px;
}
.formdiv a{
color:#549ED1;
}

#help ul.topmenu {
    list-style-type: none;
}

#help ul.topmenu > li > a > [class*="icon-"] {
    margin-right: 10px;
}
#help ul.topmenu > li > a {
    display: block;
    background-color: white;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
    color: #549ED1;
}
